<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <script src="https://cdn.staticfile.org/vue/2.2.2/vue.min.js"></script>
</head>
<body>
<div id="app">
  <ol>
    <li v-for="(value,key) in object">
     {{key}} : {{ value }}
    </li>
  </ol>
  <div v-for="n in 9">
    <b v-for="m in n">
      {{m}} * {{n}} = {{m*n}}&nbsp&nbsp

    </b>
  </div>
</div>

<script>
  new Vue({
    el: '#app',
    data: {
      object: {
        name: 'Runoob' ,
        url: 'http://www.runoob.com',
        slogan: '学的不仅是技术，更是梦想！'
      }
    }
  })
</script>
</body>
</html>