<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <script src="https://cdn.staticfile.org/vue/2.2.2/vue.min.js"></script>
</head>
</head>
<body>
  <div id="app">
    <p v-if="seen">现在你能看到我吗</p>
    <template v-if="ok">
      <pre ><a v-bind:href="url"><h1>菜鸟教程</h1></a></pre>
      <p>这个是什么，我也不知道</p>
      <p>再打一行字</p>
      <P> {{ message | capitalize }}</P>
      <input v-model="message">
      <button v-on:click="reverseMessage">反转字符串</button>
    </template>
  </div>

  <script>
    new Vue({
      el:'#app',
      data:{
        seen:true,
        ok:true,
        url: 'http://www.runoob.com',
        //双向信息绑定
        message:"输入信息"
      },
      methods: {
        reverseMessage:function () {
          this.message = this.message.split('').reverse().join('')
        }
      },
      filters: {
        capitalize: function (value) {
          if (!value) return ''
          value = value.toString()
          return value.charAt(0).toUpperCase() + value.slice(1)
        }
      }
    })
  </script>

</body>
</html>